<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar class="hola">  
        <div class="hola1">    
          <span>  Mis apuntes de Primer Semestre en Informatica </span>
        </div>
        <div class="barra-navegacion">
          <a routerLink="/" class="botones" (click)="irPrincipal()">Home</a>
          <a routerLink="/seccion1" class="botones" (click)="redirectToYoutube(this.id)">Videos</a>
          <a routerLink="/seccion2" class="botones" (click)="irforms(this.id)">Ejercicios</a>
          <a routerLink="/seccion2" class="botones" (click)="irMateria(this.id)">Tutores</a>
        </div>
      </mat-toolbar>
      <div class="grid-container">
        <div class="verso">
            <div class="verso1">
              Conectate con tutores quue te ayudaran en tu proceso de aprendizaje
            </div>
          </div>
        
        <div class="barra-desplazamiento">
          <div class="contenedor-divs">
            
            <app-div1 class="div-contenedor" *ngFor="let item of divsContenido" [foto]="item.foto" [nombre]="item.nombre" [email]="item.email" [telefono]="item.telefono" [facebok]="item.facebok" [title]="item.title">
              
            </app-div1>

          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>